/* MEYER RESET (to fix issues with layout, etc.)
http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
	height: 100%;
}
ol, ul {
	list-style: none;
}

/* END OF RESET */


#headercontainer {
	padding: 10px 0px;
	width: 100%;
	background-color: #272C28;
	border-bottom: 10px solid #3D6D7B;
}


#headercontainer h2 {
	vertical-align: middle;
	padding-left: 20%;
	color: #6EB5AD;
	font-family: "Quicksand", Helvetica, sans-serif;
	font-size: 40px;
	line-height: 60px;
}

#linklist {
	position: absolute;
	right: 20%;
	top: 10px;
	list-style-type: none;
	font-family: 'Open Sans', serif;

	font-size: 16px;
	line-height: 60px;
	padding: 5px;
}

#linklist li {
	display: inline-block;
	padding: 0px 10px;
	vertical-align: middle;
}

#linklist a {
	text-decoration: none;
	text-transform: uppercase;
	color: #3D6D7B;
	font-weight: normal;
	-webkit-transition:color .2s linear;
       -moz-transition: color .2s linear;
         -o-transition: color .2s linear;
            transition: color .2s linear;
}

#linklist a:hover {
	text-decoration: underline;
	color: #6EB5AD;
}

#content {
	width: 60%;
	margin: 0 auto;
	clear: both;
	background-image: url(transparency3.png);
	padding: 10px 10px 55px 10px;
}

body {
	font-family: "Open Sans", sans-serif;
	font-size: 18px;
	color: #272C28;
	line-height: 1.4;
	background-image: url(backgroundpattern.png);
	background-size: 250px;
	/*background: url(background2.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
*/
}

h1 {
	text-align: center;
	font-size: 70px;
	text-transform: lowercase;
	color: #0B8C8F;
	font-weight: lighter;
}

h2 {
	font-size: 30px;
}

h3 {
	font-style: italic;
	font-size: 24px;
}

p {
	margin-bottom: 10px;
}

img {
	padding: 10px;
}

a {
	color: #C81604;
	text-decoration: none;
	font-weight: normal;
		-webkit-transition:color .2s linear;
       -moz-transition: color .2s linear;
         -o-transition: color .2s linear;
            transition: color .2s linear;
}

a:hover {
	color: #3D6D7B;
}


.float {
	float: left;
	display: block;
	padding: 5px 20px;
	vertical-align: middle;
}

.articletitle {
	text-decoration: underline;
}

.contentsection {
	padding: 15px;
}

.line-divider {
	border-top-width: 5px;
	border-style: solid;
	border-color: #3D6D7B;
	margin: 15px 0px 0px 0px;
}

i {
	font-style: italic;
}

b {
	font-style: bold;
}

.intro {
	font-size: 20px;
	vertical-align: middle;
}

a h3 {
	font-weight: normal;
}

.screenshot {
	width: 400px;
}

@media screen and (max-width: 900px) {
	#linklist {
		position: static;
		text-align: center;
		font-size: 22px;
		line-height: 1.3;
		padding: 10px0;
		margin: 0;

	}

	#content, #header, #headercontainer, body {
		width: 100%;
		padding: 0;
	}

	p, h1, h2, h3, img {
		padding: 10px;
	}



	#headercontainer {
		min-height: 100%;
		padding: 10px 0px;
	}

	#headercontainer h2 {
		padding: 0;
		margin: 0;
		text-align: center;
		line-height: 1.3;
	}

	

	.screenshot {
		width: 80%;
	}
}

@media screen and (max-width: 400px) {
	#headercontainer h2 {
		font-size: 35px;
	}

	.float {
		margin: 0 auto;
		float: none;
		display: block;
		padding: 10px;
	}
}

