/*
Color palette

background/light color: #FECEA8 -> #F6F7BD
header background/dark color: #2A363B -> #BF4D28
text/dark color: #2A363B ->
links: #0B8C8F
links on hover: #028F76
header border/accent: #B3E099

/* MEYER RESET (to fix issues with layout, etc.)
http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
	height: 100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END OF RESET */


#headercontainer {
	padding-top: 10px;
	width: 100%;
	height: 80px;
	background-color: #736275;
	border-bottom: 10px solid #3D6D7B;
}

#header {
	width: 60%;
	min-width: 600px;
	margin: 0 auto;
}

#header h2 {
	vertical-align: middle;
	float: left;
	padding: 5px;
	color: white;
	font-family: "Fjord One", serif;
	font-size: 40px;
	line-height: 60px;
}

#linklist {
	float: right;
	list-style-type: none;
	font-family: 'Source Sans Pro', serif;
	font-size: 24px;
	line-height: 60px;
	padding: 5px;
}

#linklist li {
	display: inline-block;
	padding: 0px 10px;
	vertical-align: middle;
}

#linklist a {
	text-decoration: none;
	text-transform: uppercase;
	color: #2A363B;
}

#linklist a:hover {
	text-decoration: underline;
	color: white;
}

#content {
	width: 60%;
	min-width: 600px;
	margin: 0 auto;
	clear: both;
	background-color: rgba(255, 255, 255, 0.65);
	padding: 0px 10px 35px 10px;
}

body {
	font-family: "Source Sans Pro", "Trebuchet MS", Helvetica, sans-serif;
	font-size: 18px;
	color: #332C3E;
	line-height: 1.4;
	background: url(background.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}

h1 {
	text-align: center;
	font-size: 70px;
	text-transform: lowercase;
	color: #0B8C8F;
	font-weight: lighter;
}

h2 {
	font-weight: bold;
	font-size: 30px;
}

h3 {
	font-style: italic;
	font-size: 24px;
}

p {
	margin-bottom: 10px;
}

img {
	padding: 10px;
}

a {
	color: #0B486B;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	color: #736275;
}

.rounded {
	border-radius: 15px;
}

.float {
	float: left;
	margin: 5px 10px;
	vertical-align: middle;
}

.transparent {
	opacity: 0.7;
}

.articletitle {
	text-decoration: underline;
}

.contentsection {
	padding: 15px;
}

.line-divider {
	border-top-width: 5px;
	border-style: solid;
	border-color: #0B8C8F;
	margin: 15px 0px 0px 0px;
}

i {
	font-style: italic;
}

b {
	font-style: bold;
}

.intro {
	font-size: 20px;
	padding: 30px 0px;
	vertical-align: middle;
}

a h3 {
	font-weight: normal;
}
